@using DartPointTracker.Models
<div class="mb-3 text-center">
    SUMMARY
</div>
<table>
    <thead>
    <tr>
        <th>Place</th>
        <th>Name</th>
        <th>Throws</th>
        <th>Score</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var player in Game.Ranking.Select((value, index) => new { value, index })) {
        <tr>
            <td>@(player.index + 1)</td>
            <td>@player.value.Name</td>
            <td>@player.value.CurrentThrowNumber</td>
            <td>@player.value.Score</td>
        </tr> }
    </tbody>
</table>
@code {
    [Parameter] public required Game Game { get; set; }}