@using DartPointTracker.Models
<h3>Summary</h3>


<table>
    <thead>
    <tr>
        <th>Place</th>
        <th>Name</th>
        <th>Throws</th>
        <th>Score</th>
    </tr>
    </thead>
    <tbody>
    @{
        var i = 1;
        foreach (var player in Game.Ranking)
        {
            <tr>
                <td>@i</td>
                <td>@player.Name</td>
                <td>@player.CurrentThrowNumber</td>
                <td>@player.Score</td>
            </tr>
            i++;
        }
    }
    </tbody>
</table>

@code {
    [Parameter]
    public required Game Game { get; set; }

}