@page "/game"
@using DartPointTracker.Services
@inject IGameService GameService


@if (GameService.CurrentGame is not null)
{
    @foreach (var player in GameService.CurrentGame.Players)
    {
        if (player.Won)
        {
            <div class="input-group">
                <h1>@player.Name -- Score: @player.Score -</h1>
                <h1>Won</h1>
            </div>
        }
        else
        {
            <div class="input-group">
                <h1>@player.Name -- Score: @player.Score -</h1>

                @foreach (var dartThrow in player.CurrentRoundThrows)
                {
                    <h1>@dartThrow-</h1>
                }
            </div>
        }
    }
    <ChoosePointComponent
        OnButtonClick="AddDartThrow"
        OnBackClick="HandleBackClick" />
}


@code {
    private int _dartThrow;

    private void AddDartThrow(int value)
    {
        _dartThrow = value;
        GameService.CurrentGame.AddDartThrow(_dartThrow);
    }
    private void HandleBackClick()
    {
        GameService.CurrentGame.RemoveLastDartThrow();
    }

}